.title{
   background-color: rgba(178, 6, 204, 0.362); 
   border-radius: 20px;
   border-left: 5px solid rgb(7, 7, 7);
   border-right: 5px solid rgb(17, 16, 16);
}
.form-area{
   background-color: rgba(236, 125, 204, 0.545);

}
.table-area{
   background-color: rgba(236, 116, 228, 0.429);
}